- entity_card = EntityCard.new entity
- entity_card.meta do
  - info = entity.dbSNP_info
  - if info
    %dl.indented
      %dt SNP in dbSNP
      %dd
        %a(href="http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs=#{entity.sub('rs','')}")= entity
      - info.zip(info.fields).each do |value,key|
        - if key == "Genomic Mutation"
          %dt=key
          %dd=GenomicMutation.setup(value, nil, DbSNP.organism, true).link
        - else
          %dt=key
          %dd=value
  - else
    not found in dbSNP


- entity_card.action_controller = default_action_controller entity

= entity_card_render entity_card 
