- study = entity

- log :recurrent_genes
- recurrent_genes = study.recurrent_genes
- samples = study.samples

- log :matches
- matches = study.knowledge_base.subset('sample_genes', "Gene" => recurrent_genes, "Sample" => samples)

- log :incidence
- matrix = AssociationItem.incidence matches
- matrix.fields = recurrent_genes.annotate(matrix.fields).name

- log :plot
= partial_render('ggplot2/incidence', :data => matrix, :incidence => "Mutated")
